*{
    margin: 0;
    padding: 0;
}
/* header  */
#header >div >img{
   width: 200px;
   height: 150px;
   margin-left: 100px;
}
#header >div{
    display: flex;
    
}
#search{
   border: 1px solid rgb(160, 157, 157);
   height: 50px;
   width: 700px;
   border-radius: 5px;
   color: rgb(174, 172, 172);
   margin-top: 70px;
   margin-left: 50px;
}
#search >select{
    border: 0;
    color: rgb(174, 172, 172);
    font-size: 20px;
    padding: 10px;
}
#search > input{
    border: 0;
    color: rgb(174, 172, 172);
    font-size: 20px;
    padding: 10px;
}
#search > span{
    color: rgb(174, 172, 172);
    font-size: 15px;
    padding: 5px;
}
#search > button{
    background-color:rgb(205, 76, 119) ;
    border: 0;
    float: right;
    height: 50px;
    width: 50px;
}
.fa-magnifying-glass{
   color: white;
   padding: 0 5px;
   
}
.landr{
   margin: 30px;
   font-size: 20px;
   margin-top: 70px;
}
.landr button {
   height: 50px;
   font-size: 25px;
   border: 1px solid black;
   background-color: white;
   border-radius: 3px;
}
.landr button i{
   height: 20px;
   width: 50px;
}
.landr > button:hover,a>button:hover{
   background-color: rgb(205, 76, 119);
   color: white;
}
.myaccount{
   display: none;
   background-color: white;
}
.myaccount > ul >li >a{
   text-decoration: none;
   color: black;
}
.landr button:hover  .myaccount{
   display: block;
   position: absolute;
   background-color: white;
   top:12rem;
   width: 150px;
   color: black;
   font-size:25px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 5px;
   text-decoration: none;
}
/* navbar  */

#navbar{
    background-color: rgb(205, 76, 119);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    position: sticky;
    top:0px
}
.cart{
    display: flex;
}
.cart > img{
    height: 40px;
    padding: 10px;
}
.cart > a{
    color: white;
    text-decoration: none;
    padding: 20px; 
    font-weight: bolder;
}

#navbar .cart{
    background-color: rgb(198, 49, 99);
}

.nav >ul >li{
   float: left;
   list-style-type: none;
}
.nav > ul >li {
    margin: 20px;
    
}
.nav  ul li a{
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    font-weight: bolder; 
}
/* hover navbar  */
.nav ul li a:hover{
   background-color: rgb(176, 44, 88);
}
.sub-makeup >div >ul >li{
   list-style-type: none;
}
.sub-skin > div > ul >li{
   list-style-type: none;
}
.sub-hair > div >ul >li{
   list-style-type: none;
}
.sub-personal >div >ul >li{
    list-style-type: none;
}
.sub-mom >div >ul >li{
    list-style-type: none;
}
.sub-fragrance >ul >li{
   list-style-type: none;
}
.sub-ayurveda  >div >ul >li{
   list-style-type: none;
}
.sub-makeup >div >ul >li:hover{
   color: #dd0285;
   list-style-type: none;
}
.sub-skin > div > ul >li:hover{
   color: #dd0285;
   
}
.sub-hair > div >ul >li:hover{
   color: #dd0285;
}
.sub-personal >div >ul >li:hover{
   color: #dd0285;
}
.sub-mom >div >ul >li:hover{
   color: #dd0285;
}
.sub-fragrance >ul >li:hover{
   color: #dd0285;
}
.sub-ayurveda  >div >ul >li:hover{
   color: #dd0285;
}
.sub-brands  >div :hover{
  background-color: rgb(212, 233, 240);
}
.nav >ul >li:nth-child(1):hover #sub-m {
    display:block;
    position: absolute;
    top: 3.9rem;
    
   
}
#sub-m{
   display: none;
   /* position: absolute; */
   background-color: white;
}
.sub-m ul li:hover{
   cursor: pointer;
   color: rgb(198, 49, 99);
}
#sub-skin{
   display: none;
}
.nav >ul >li:nth-child(2):hover #sub-skin{
    display:block;
    position: absolute;
    top: 3.9rem;
   
}
#sub-hair{
   display: none;
}
.nav >ul >li:nth-child(3):hover #sub-hair{
     display:block;
    position: absolute;
    top: 3.9rem;
     left:7rem
}
#sub-personal{
   display: none;
}
.nav >ul >li:nth-child(4):hover #sub-personal{
    display:block;
    position: absolute;
    top:3.9rem;
    left:7rem
}
#sub-mom{
   display: none;
}
.nav >ul >li:nth-child(5):hover #sub-mom{
    display:block;
    position: absolute;
    top: 3.9rem;
    left:12rem
}
#sub-fragrance{
   display: none;
}
.nav >ul >li:nth-child(6):hover #sub-fragrance{
   display:block;
    position: absolute;
    top: 3.9rem;
}
#sub-ayurveda{
   display: none;
}
 .nav >ul >li:nth-child(7):hover #sub-ayurveda{
   display:block;
    position: absolute;
    top: 3.9rem;
    left:12rem
}
#sub-brands{
   display: none;
}
.nav >ul >li:nth-child(8):hover #sub-brands{
     display:block;
    position: absolute;
    top:3.9rem;
    left:12rem
}
.sub-makeup{
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 700px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-skin{
   /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1100px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-hair{
   /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1200px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-personal{
   /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1100px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-mom{
   /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1100px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-fragrance{
    /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 300px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-ayurveda{
    /* display: none; */
   display: flex;
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1100px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-brands{
   /* display: none; */
   padding: 20px;
   justify-content: space-between;
   background-color: white;
   width: 1000px;
   border-radius: 5px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-brands > div{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap: 10px;
   margin-top: 20px;
}
.sub-brands > div >div{
   border: 1px solid rgb(168, 165, 165);
   padding: 5px;
   text-align: center;
}
 
/* container  */
#container{
    /* border:1px solid red; */
    display:flex;
  }

  /* sorting button  */
#price_sort {
   height: 100px;
   margin: 20px;
}
#price_sort > select{
   width: 200px;
   height: 50px;
   font-size: 20px;
   border: 0;

}


  /* left block  */
#left_block{
    /* border:1px solid yellow; */
    height:470px;
  }
ul{
    list-style: none;
}
#left_block >div{
   display: flex;
   margin: 10px;
}
 #left_block>div >i{
   padding: 5px;
}
#left_block >div >h3{
   font-size: 25px;
}
#left_block> div >ul >li >a >span{
   display: flex;
   
}
#left_block> div >ul >li >a {
   text-decoration: none;
   font-size: 20px;
  
}
#left_block > div >ul >li >a>span >img{
   margin-right: 10px;
}
#left_block > div >ul >li >a>span > p{
   color: black;
}
#left_block > div >ul >li{
   height: 50px;
   margin: 10px;
}
/* right block  */
 #right_block{
    /* border:1px solid green; */
    display:grid;
    grid-template-columns:repeat(3,350px);
    gap: 20px;
    margin: 20px;
  }
  #right_block>div{
    /* border:1px solid orange; */
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  #right_block button{
    padding:10px;
    margin:10px;
    background-color:rgb(205, 76, 119);
    border:0px;
    color: white;
    border-radius: 2px;
  }

 /* footer CSS*/
#footer{
   background-color: rgb(40, 39, 39);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
   padding: 20px;
   margin-top: 20px;
}
#footer-top{
   display: flex;
   justify-content: space-evenly;
}
#footer-top >div {
   padding: 20px;
}
#footer-bot{
   display: flex;
   justify-content:space-evenly;
}
#h4{
   margin-left: 500px;
   margin: 5px;
}
#input{
   margin-top: 10px;
   margin-right: 100px;
   display: flex;
}
#subscribe{
   height: 40px;
   width: 250px;

}
#subs-btn{
   height: 44px;
   width: 100px;
   background-color: rgb(226, 61, 154);
   border: rgb(226, 61, 154) ;
   color: aliceblue;
   font-weight: bolder;
}


