*{
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#adminLogin{
    width: 40%;
    margin: auto;
    height: 400px;
    
    
    
}
.admin_login {
    width: 80%;
    margin: auto;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    
    
}
#adminLogin >form >input{
    border:1px solid #dd0285;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#adminLoginBtn{
    background-color: #dd0285;
    border-radius: 5px;
    font-weight: bolder;
}
#contact{
    width: 80%;
    font-weight: bold;
    margin: auto;
}