#mainContainer{
    display: flex;
    border: 1px solid red;
    width: 90%;
    margin: auto;
    height: 900px;

}
#formSection{
    border: 1px solid teal;
    margin: auto;
    width: 30%;
    height: 800px;
    padding-left: 20px;

}
#tableSection{
    border: 1px solid teal;
    margin: auto;
    width: 60%;
    height: 500px;
    /* overflow: scroll; */

}
.inputLabel{
    width: 80%;
    margin: auto;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;


}
.hrTag{
    width: 80%;
    
}
h2{
    text-align: center;
}
table,th,td{
    border:1px solid black;
}
table{
    border: 1px solid red;
    width: 100%;

}
#tableSection table  thead{
    height:50px;
    width: 200px;
    font-size: 30px;
    /* width: auto;  */
    background-color: rgb(228, 130, 130);
}
tbody{
    height: auto;
    /* width: 100%; */
    
}
thead th {
    height:50px;
    width: 100px;
    /* border: 1px solid pink; */
}
.td5{
    background-color: rgb(215, 25, 57);
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}

#itemEditModel{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 60%;
    height: 200px;
    margin: auto;
    border:1px solid red ;
    background-color: aquamarine;
}
#displayModel{
    width: 100px;
    margin: auto;
    padding: 10px;
    
    align-items: center;
}
#pagebtn{
    width: 30%;
    margin: auto;
}
