#mainContainer{
    display: flex;
    border: 1px solid red;
    width: 90%;
    margin: auto;
    height: 900px;

}
#formSection{
    border: 1px solid teal;
    margin: auto;
    width: 30%;
    height: 800px;
    padding-left: 20px;

}

.inputLabel{
    width: 80%;
    margin: auto;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;


}
.hrTag{
    width: 80%;
    
}
h2{
    text-align: center;
}

/* table  */
#tableSection{
    /* border: 1px solid teal; */
    margin: auto;
    width: 60%;
}
table{
    /* border: 1px solid red; */
    width: 700px;
}
table ,th ,td{
    /* white-space: nowrap; */
    width: 300px;
    height: 70px;
    border: 2px solid green;
}
thead{
    height: 50px;
    font-size: 30px;
    width: 200px;
}
tbody{
    height: auto;
}