#footer{
    background-color: rgb(40, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
 }
 #footer-top{
    display: flex;
    justify-content: space-evenly;
 }
 #footer-bot{
    display: flex;
    justify-content: space-around;
 }
 #h4{
    margin-left: 500px;
 }
 #input{
    margin-top: 10px;
    margin-right: 100px;
 }
 #subscribe{
    height: 30px;
    width: 250px;
 }
 #subs-btn{
    height: 35px;
    background-color: rgb(226, 61, 154);
    border: rgb(226, 61, 154) ;
    color: aliceblue;
 }


 /* Cart html page append data */

 #CartItems{
   display:flex;
   border:1px solid red;
 }
 #left_block{
   border:4px solid green;
   width:20%;
   height:250px;
 }
 #middle_block{
   display:grid;
   grid-template-columns: repeat(3,300px);

 }
 #middle_block>div{
   border:1px solid blue;
 }
 #right_block{
   border:4px solid orange;
   width:300px;
 }